.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container h2 {
  font-size: 24px;
  text-align: center;
}

.card-info {
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  margin: 0 20px;
  width: 240px;
  align-items: center;
}

.card-info h3 {
  text-align: center;
}

.card-info img {
  height: 48px;
  object-position: unset;
  margin-left: 96px;
}

.card-info p {
  margin: 16px;
  text-align: center;
}
